@import 'tailwindcss';

/* Color Tokens */
:root {
  --slate-1: #fcfcfd;
  --slate-2: #f9f9fb;
  --slate-3: #f0f0f3;
  --slate-4: #e8e8ec;
  --slate-5: #e0e1e6;
  --slate-6: #d9d9e0;
  --slate-7: #cdced6;
  --slate-8: #b9bbc6;
  --slate-9: #8b8d98;
  --slate-10: #80838d;
  --slate-11: #60646c;
  --slate-12: #1c2024;
  --slate-dark-1: #111113;
  --slate-dark-2: #18191b;
  --slate-dark-3: #212225;
  --slate-dark-4: #272a2d;
  --slate-dark-5: #2e3135;
  --slate-dark-6: #363a3f;
  --slate-dark-7: #43484e;
  --slate-dark-8: #5a6169;
  --slate-dark-9: #696e77;
  --slate-dark-10: #777b84;
  --slate-dark-11: #b0b4ba;
  --slate-dark-12: #edeef0;

  /* Semantic colors */
  --grass-9: #46A758;
  --tomato-9: #E54D2E;
}

/* Theme Tokens */
@layer base {
  :root {
    color-scheme: light dark;

    /* App Colors */
    --bg-app: light-dark(white, var(--slate-dark-1));
    --text-app: light-dark(var(--slate-12), var(--slate-dark-12));

    /* Semantic Colors */
    --text-success: var(--grass-9);
    --text-error: var(--tomato-9);
  }

  [data-color-scheme=light], [data-theme=light], .light {
    color-scheme: light;
  }

  [data-color-scheme=dark], [data-theme=dark], .dark {
    color-scheme: dark;
  }
}

@theme {
  /* Reset all colors */
	--color-*: initial;
  --color-white: white;

  --background-color-app: var(--bg-app);
  --color-app: var(--text-app);
  --color-success: var(--text-success);
  --color-error: var(--text-error);
}
